@font-face {
  font-family: kaushan;
  src: url(font/kaushanscript-regular-webfont.woff) format(woff);
}
@font-face {
  font-family: firasans;
  src: url(font/firasans-book-webfont.woff) format(woff);
}
@font-face {
  font-family: mont;
  src: url(font/Mont-HeavyDEMO.woff) format(woff);
}
@font-face {
  font-family: roman;
  src: url(font/RomanSerif.woff) format(woff);
}
.text-navbar-bgn {
  text-align: left;
  font-weight: 400;
  font-family: mont;
}
.text-bgn-home-text-p1 {
  margin-top: 160px;
  margin-left: 50px;
}
.p1 {
  font-family: roman;
  font-weight: 530;
  color: black;
  text-transform: uppercase;
  font-size: 1.8rem;
  cursor: default;
}
.text-bgn-home-text-p2 {
  margin-left: 50px;
  margin-top: -10px;
}
.p2 {
  font-family: roman;
  font-weight: 530;
  color: black;
  text-transform: uppercase;
  font-size: 1.8rem;
  width: 50%;
  cursor: default;
}
.text-bgn-home-text-p3 {
  margin-left: 50px;
}
.p3 {
  margin-top: -15px;
  text-transform: uppercase;
  color: rgb(255, 210, 95);
  cursor: default;
  font-family: mont;
}
.text-bgn-home-text-p4 {
  margin-left: 50px;
  margin-top: -10px;
}
.p4 {
  font-family: roman;
  color: black;
  text-transform: capitalize;
  font-size: 1rem;
  width: 50%;
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
  word-spacing: 0px;
  cursor: default;
}
.kotak {
  width: 100%;
  height: 610px;
  background-color: white;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: 10px;
  box-shadow: 0px 0px 12px black;
}
.button-daftar-bgn {
  float: left;
  margin-right: 20px;
}
.button {
  background-color: blue;
  margin-left: 50px;
  border-radius: 10px;
  margin-top: -10px;
  box-shadow: 3px 3px 2px black;
}
.a-daftar {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.text-cek-layanan {
  font-weight: bold;
  text-decoration: none;
}
.text-cek-layanan:hover {
  text-decoration: underline;
}
.img-bgn1 {
  float: right;
  margin-top: -280px;
  margin-right: 90px;
}
.gambar-bgn1 {
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 0 8px black;
}
.layanan1 {
  height: 260px;
  display: flex;
  justify-content: left;
  margin-left: 100px;
  margin-top: 60px;
  margin-bottom: 100px;
  float: left;
  box-sizing: border-box;
  box-shadow: 0 0 6px black;
}
.layanan2 {
  height: 260px;
  display: flex;
  justify-content: left;
  margin-left: 100px;
  margin-top: 60px;
  margin-bottom: 100px;
  float: left;
  box-sizing: border-box;
  box-shadow: 0 0 6px black;
}
.layanan3 {
  height: 260px;
  display: flex;
  justify-content: left;
  margin-left: 100px;
  margin-top: 60px;
  margin-bottom: 100px;
  float: left;
  box-sizing: border-box;
  box-shadow: 0 0 6px black;
}
.gambar-layanan1 {
  height: 200px;
}
.gambar-layanan2 {
  height: 180px;
}
.gambar-layanan3 {
  height: 180px;
}
.isi-text-layanan {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.text-layanan {
  text-transform: uppercase;
  font-family: monospace;
  font-weight: 450;
}
.text-mbg {
  margin-top: -10px;
}
.a-mbg1 {
  color: black;
  text-decoration: none;
}
.bagian-footer {
  width: 100%;
  background-color: black;
  clear: left;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.isi-footer {
  display: flex;
  justify-content: center;
}
.text-footer {
  color: white;
  padding-top: 8px;
}

.pembungkus4 {
  background-color: #999999;
  display: flex;
  justify-content: center;
}
.box-whyme {
  display: block;
  justify-content: center;
}
.whyme {
  width: 1000px;
  margin-top: 30px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: rgb(224, 217, 217);
  border-radius: 10px;
  box-sizing: border-box;
  transition: 1s;
  transition-timing-function: calc(ease-in);
  transition-duration: 2s;
  box-shadow: 0 8px 4px 3px rgb(52, 51, 51);
  backdrop-filter: blur(10px);
}
.whyme:hover {
  transform: translateY(-5px);
  box-shadow: 0 0px 8px 3px rgb(52, 51, 51);
}
.p11 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: mont;
  font-size: 1.2rem;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.p11:hover {
  text-decoration: none;
  text-underline-offset: 5px;
}
.p12 {
  margin-left: 10px;
  font-weight: 450;
  color: rgb(24, 21, 21);
  cursor: default;
  margin-bottom: 10px;
  padding-bottom: 15px;
  margin-top: -15px;
  font-family: roman;
}
.penjelasan-button {
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #383535;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  font-family: monospace;
  text-transform: uppercase;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 0 0 5px 2px rgb(34, 33, 33);
  transition: 1s;
}
.penjelasan-button:hover {
  box-shadow: 0 0 10px 2px rgb(34, 33, 33);
  transform: scale(1.02);
}
.hidden {
  display: none;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: rgb(24, 21, 21);
  font-weight: 450;
}
.keatas {
  margin-top: -20px;
}

@media (max-width: 768px) {
  .text-navbar-bgn {
    font-size: 1.1rem;
  }
  .text-bgn-home-text-p1 {
    margin-top: 80px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }
  .p1 {
    font-size: 1.4rem;
  }
  .text-bgn-home-text-p2 {
    margin-left: 0px;
    margin-top: -8px;
    display: flex;
    justify-content: center;
  }
  .p2 {
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
  }
  .text-bgn-home-text-p3 {
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }
  .p3 {
    margin-top: -10px;
    font-size: 1.4rem;
  }
  .text-bgn-home-text-p4 {
    margin-left: 0px;
    margin-top: -5px;
    display: flex;
    justify-content: center;
  }
  .p4 {
    font-size: 0.6rem;
    width: 1000%;
    text-align: center;
    word-spacing: 0px;
    text-align: center;
  }
  .kotak {
    width: 100%;
    height: auto;
  }
  .center {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .button-daftar-bgn {
    margin-right: 10px;
  }
  .button {
    margin-left: 0px;
  }
  .a-daftar {
    font-size: 0.9rem;
  }
  .text-cek-layanan {
    font-size: 0.9rem;
  }
  .img-bgn1 {
    float: none;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 65px;
  }
  .gambar-bgn1 {
    width: 350px;
  }
  .isi-text-layanan {
    display: flex;
    justify-content: center;
  }
  .layanan1 {
    height: 260px;
    display: flex;
    justify-content: center;
    margin-left: 0px;
    margin-top: 50px;
    margin-bottom: 0px;
    float: none;
    box-sizing: border-box;
  }
  .layanan2 {
    height: 260px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 0px;
    margin-bottom: -10px;
    float: none;
    box-sizing: border-box;
  }
  .layanan3 {
    height: 260px;
    display: flex;
    justify-content: center;
    margin-left: 0px;
    margin-top: 40px;
    margin-bottom: 50px;
    float: none;
    box-sizing: border-box;
  }
  .center1 {
    display: flex;
    justify-content: center;
  }
  .center2 {
    display: flex;
    justify-content: center;
  }
  .center3 {
    display: flex;
    justify-content: center;
  }
  .text-footer {
    font-size: 0.7rem;
    padding-top: 10px;
  }
  .bagian-footer {
    margin-top: 30px;
  }
  .whyme {
    width: 95vw;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    box-sizing: border-box;
  }
  .p2 {
    margin-right: 5px;
    color: rgb(24, 21, 21);
  }
  .penjelasan-button {
    font-size: 0.8rem;
    text-align: center;
  }
  .hidden {
    display: none;
    margin-right: 5px;
    color: rgb(24, 21, 21);
  }
}
